In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_excel('Gadarwara_Q.xlsx')
df.drop(columns = ['Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40'], inplace = True)
df

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_3(t-1),RF_3(t-2),RF_4,...,Q,Q(t-1),Q(t-2),Q(t-3),T12 min,T13 min,T12 avg,T13 avg,Grid Point,weights
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,0.00,0.00,0.00,26.1,26.1,32.35,32.60,RF_1,0.013302
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,1.60,0.00,0.00,26.2,26.2,32.35,32.65,RF_2,0.010567
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,1.60,1.60,0.00,25.9,26.1,32.50,32.90,RF_3,0.086394
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,1.60,1.60,1.60,26.3,26.7,33.00,33.55,RF_4,0.273084
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,1.60,1.60,1.60,26.4,26.7,33.35,33.85,RF_5,0.104194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,...,0.08,0.09,0.10,0.11,27.1,27.2,34.45,35.10,NaN,NaN
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.07,0.08,0.09,0.10,27.1,27.1,34.50,34.90,NaN,NaN
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,0.07,0.08,0.09,27.3,27.5,33.65,34.45,NaN,NaN
15704,2020-05-30,2020,5,30,1.1,0.3,0.0,0.0,0.0,0.3,...,0.05,0.05,0.07,0.08,27.0,26.4,33.50,33.55,NaN,NaN
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,0.05,0.05,0.07,26.6,26.8,33.45,33.85,NaN,NaN

In [3]:
part1 = df.drop(df.index[12418:15706])
part2 = df.drop(df.index[0:12418])
print(part1.shape, part2.shape)

(12418, 40) (3288, 40)

In [4]:
part1

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_3(t-1),RF_3(t-2),RF_4,...,Q,Q(t-1),Q(t-2),Q(t-3),T12 min,T13 min,T12 avg,T13 avg,Grid Point,weights
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.6,0.0,0.0,0.0,26.1,26.1,32.35,32.60,RF_1,0.013302
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,...,1.6,1.6,0.0,0.0,26.2,26.2,32.35,32.65,RF_2,0.010567
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,...,1.6,1.6,1.6,0.0,25.9,26.1,32.50,32.90,RF_3,0.086394
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,...,1.6,1.6,1.6,1.6,26.3,26.7,33.00,33.55,RF_4,0.273084
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,...,1.6,1.6,1.6,1.6,26.4,26.7,33.35,33.85,RF_5,0.104194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12413,2011-05-27,2011,5,27,0.0,0.0,0.0,1.4,1.5,0.0,...,0.0,0.0,0.0,0.0,26.5,26.2,33.10,33.35,NaN,NaN
12414,2011-05-28,2011,5,28,0.0,0.0,0.0,0.0,1.4,0.0,...,0.0,0.0,0.0,0.0,26.2,26.1,33.00,33.40,NaN,NaN
12415,2011-05-29,2011,5,29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.6,27.1,33.40,34.15,NaN,NaN
12416,2011-05-30,2011,5,30,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.7,26.9,33.45,34.25,NaN,NaN
12417,2011-05-31,2011,5,31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.3,26.7,32.80,33.35,NaN,NaN

In [5]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [6]:
model4 = linear_model.LinearRegression()
model4.fit(part1[['Q(t-1)', 'Q(t-2)', 'RF_5(t-1)', 'RF_6(t-1)', 'RF_8(t-1)']], part1.Q)
Q_pred4 = model4.predict(part2[['Q(t-1)', 'Q(t-2)', 'RF_5(t-1)', 'RF_6(t-1)', 'RF_8(t-1)']])
R2_score4 = r2_score(part2[['Q']], Q_pred4)
MSE4 = mean_squared_error(part2[['Q']], Q_pred4)
RMSE4 = np.sqrt(MSE4)
print(model4.coef_, model4.intercept_, R2_score4, RMSE4)

[0.25826574 0.15054631 0.24738441 2.97443725 1.36528216] 12.729574685606444 0.5650084999539935 86.78247262603836

In [7]:
model4 = linear_model.LinearRegression()
model4.fit(part1[['Q(t-1)', 'Q(t-2)', 'Q(t-3)','RF_5(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)']], part1.Q)
Q_pred4 = model4.predict(part2[['Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'RF_5(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)']])
R2_score4 = r2_score(part2[['Q']], Q_pred4)
MSE4 = mean_squared_error(part2[['Q']], Q_pred4)
RMSE4 = np.sqrt(MSE4)
print(model4.coef_, model4.intercept_, R2_score4, RMSE4)

[0.21857979 0.07849323 0.16845589 0.41428318 0.28052066 1.51536657
 2.78553863] 8.944160910480186 0.5909919670333186 84.15066522172467

In [8]:
model4 = linear_model.LinearRegression()
model4.fit(part1[['Q(t-1)', 'Q(t-2)', 'Q(t-3)','RF_5(t-1)','RF_3(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)']], part1.Q)
Q_pred4 = model4.predict(part2[['Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'RF_5(t-1)','RF_3(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)']])
R2_score4 = r2_score(part2[['Q']], Q_pred4)
MSE4 = mean_squared_error(part2[['Q']], Q_pred4)
RMSE4 = np.sqrt(MSE4)
print(model4.coef_, model4.intercept_, R2_score4, RMSE4)

[ 0.21859888  0.07853706  0.1684295   0.50425758 -0.15093331  0.41899659
  1.52023167  2.70363951] 8.939114218272174 0.5909839221204557 84.15149281114293

In [9]:
model4 = linear_model.LinearRegression()
model4.fit(part1[['Q(t-1)', 'Q(t-2)', 'Q(t-3)','RF_5(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)', 'T13 avg']], part1.Q)
Q_pred4 = model4.predict(part2[['Q(t-1)', 'Q(t-2)', 'Q(t-3)', 'RF_5(t-1)','RF_4(t-1)', 'RF_8(t-1)', 'RF_6(t-1)', 'T13 avg' ]])
R2_score4 = r2_score(part2[['Q']], Q_pred4)
MSE4 = mean_squared_error(part2[['Q']], Q_pred4)
RMSE4 = np.sqrt(MSE4)
print(model4.coef_, model4.intercept_, R2_score4, RMSE4)

[ 0.21840435  0.07845408  0.16849672  0.41323239  0.28106525  1.51563801
  2.78868356 -0.18719282] 13.783230128989175 0.5910222795501787 84.14754686521795

In [10]:
Q_pred4

array([7.55906872, 7.56842836, 8.10192791, ..., 7.37116667, 7.53280261,
       7.55771029])

In [12]:
part2['Q_pred'] = Q_pred4

In [13]:
part2.to_excel('Q_pred.xlsx')