In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_excel('Gadarwara_Q.xlsx')
df

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,...,RF_8,RF_10,LRF,Q,Q(t-1),Q(t-2),Q(t-3),Unnamed: 18,Grid Point,weights
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.60,0.00,0.00,0.00,NaN,RF_1,0.013302
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.60,1.60,0.00,0.00,NaN,RF_2,0.010567
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.60,1.60,1.60,0.00,NaN,RF_3,0.086394
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.60,1.60,1.60,1.60,NaN,RF_4,0.273084
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.60,1.60,1.60,1.60,NaN,RF_5,0.104194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.08,0.09,0.10,0.11,NaN,NaN,NaN
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.07,0.08,0.09,0.10,NaN,NaN,NaN
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.05,0.07,0.08,0.09,NaN,NaN,NaN
15704,2020-05-30,2020,5,30,1.1,0.3,0.0,0.3,0.0,0.0,...,0.0,0.0,0.099727,0.05,0.05,0.07,0.08,NaN,NaN,NaN
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.05,0.05,0.05,0.07,NaN,NaN,NaN

In [3]:
part1 = df.drop(df.index[8035:15706])
part2 = df.drop(df.index[0:8035])
print(part1.shape, part2.shape)

(8035, 21) (7671, 21)

In [4]:
part1

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,...,RF_8,RF_10,LRF,Q,Q(t-1),Q(t-2),Q(t-3),Unnamed: 18,Grid Point,weights
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.600,0.000,0.000,0.000,NaN,RF_1,0.013302
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.600,1.600,0.000,0.000,NaN,RF_2,0.010567
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.600,1.600,1.600,0.000,NaN,RF_3,0.086394
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.600,1.600,1.600,1.600,NaN,RF_4,0.273084
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,1.600,1.600,1.600,1.600,NaN,RF_5,0.104194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8030,1999-05-27,1999,5,27,0.0,0.1,0.0,0.0,0.0,0.0,...,0.2,0.0,0.028081,0.316,0.312,0.329,0.324,NaN,NaN,NaN
8031,1999-05-28,1999,5,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.325,0.316,0.312,0.329,NaN,NaN,NaN
8032,1999-05-29,1999,5,29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.312,0.325,0.316,0.312,NaN,NaN,NaN
8033,1999-05-30,1999,5,30,2.1,2.1,0.5,0.0,0.9,0.0,...,0.5,0.0,0.254656,0.311,0.312,0.325,0.316,NaN,NaN,NaN
8034,1999-05-31,1999,5,31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.299,0.311,0.312,0.325,NaN,NaN,NaN

In [5]:
part2

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,...,RF_8,RF_10,LRF,Q,Q(t-1),Q(t-2),Q(t-3),Unnamed: 18,Grid Point,weights
8035,1999-06-01,1999,6,1,0.0,0.0,0.0,1.3,0.0,1.2,...,0.0,1.6,2.611896,0.297,0.299,0.311,0.312,NaN,NaN,NaN
8036,1999-06-02,1999,6,2,1.0,3.5,2.2,2.3,5.8,6.0,...,2.1,2.5,2.106743,0.299,0.297,0.299,0.311,NaN,NaN,NaN
8037,1999-06-03,1999,6,3,0.0,0.0,2.4,4.4,6.2,8.6,...,0.9,5.0,5.530826,0.298,0.299,0.297,0.299,NaN,NaN,NaN
8038,1999-06-04,1999,6,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.288,0.298,0.299,0.297,NaN,NaN,NaN
8039,1999-06-05,1999,6,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.292,0.288,0.298,0.299,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.080,0.090,0.100,0.110,NaN,NaN,NaN
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.070,0.080,0.090,0.100,NaN,NaN,NaN
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.050,0.070,0.080,0.090,NaN,NaN,NaN
15704,2020-05-30,2020,5,30,1.1,0.3,0.0,0.3,0.0,0.0,...,0.0,0.0,0.099727,0.050,0.050,0.070,0.080,NaN,NaN,NaN
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.050,0.050,0.050,0.070,NaN,NaN,NaN

In [6]:
med1 = part1['Q'].median()
mean1 = part1['Q'].mean()
std1 = part1['Q'].std()
CV1 = (std1/mean1)*100
print(med1, mean1, std1, CV1)

4.73 43.079723621655255 164.10919519129186 380.9430084384239

In [7]:
med2 = part2['Q'].median()
mean2 = part2['Q'].mean()
std2 = part2['Q'].std()
CV2 = (std2/mean2)*100
print(med2, mean2, std2, CV2)

3.0 49.64936229705697 220.12635732217925 443.361902626547

In [8]:
zero_count_1 = (part1['Q'] == 0).sum() 
perc_0values1 = (zero_count_1/8035)*100
print(zero_count_1, perc_0values1)

59 0.7342874922215308

In [9]:
zero_count_2 = (part2['Q'] == 0).sum() 
perc_0values2 = (zero_count_2/7671)*100
print(zero_count_2, perc_0values2)

998 13.01003780471907