In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_excel('Gadarwara_Q.xlsx')
df

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_10,LRF,Q
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.60
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.60
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.60
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.60
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.08
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.07
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.05
15704,2020-05-30,2020,5,30,1.1,0.3,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0,0.05
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.05

In [3]:
part1 = df.drop(df.index[10957:15706])
part2 = df.drop(df.index[0:10957])
print(part1.shape, part2.shape)

(10957, 15) (4749, 15)

In [4]:
part1

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_10,LRF,Q
0,1977-06-01,1977,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.600000
1,1977-06-02,1977,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.600000
2,1977-06-03,1977,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.600000
3,1977-06-04,1977,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.600000
4,1977-06-05,1977,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10952,2007-05-27,2007,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.960000
10953,2007-05-28,2007,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.419254
10954,2007-05-29,2007,5,29,1.4,1.8,0.8,0.0,0.6,0.1,0.0,1.2,0.3,0,0.413214
10955,2007-05-30,2007,5,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.960000
10956,2007-05-31,2007,5,31,0.1,1.2,0.3,0.0,0.2,0.0,0.0,0.5,0.1,0,0.960000

In [5]:
part2

,Dates,Year,Month,Day,RF_1,RF_2,RF_3,RF_4,RF_5,RF_6,RF_7,RF_8,RF_10,LRF,Q
10957,2007-06-01,2007,6,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.404655
10958,2007-06-02,2007,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.391418
10959,2007-06-03,2007,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.217000
10960,2007-06-04,2007,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.381357
10961,2007-06-05,2007,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.217000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15701,2020-05-27,2020,5,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.080000
15702,2020-05-28,2020,5,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.070000
15703,2020-05-29,2020,5,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.050000
15704,2020-05-30,2020,5,30,1.1,0.3,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0,0.050000
15705,2020-05-31,2020,5,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.050000

In [6]:
med1 = part1['Q'].median()
mean1 = part1['Q'].mean()
std1 = part1['Q'].std()
CV1 = (std1/mean1)*100
print(med1, mean1, std1, CV1)

4.45 44.527528061710505 187.93402915457756 422.06256968525315

In [7]:
med2 = part2['Q'].median()
mean2 = part2['Q'].mean()
std2 = part2['Q'].std()
CV2 = (std2/mean2)*100
print(med2, mean2, std2, CV2)

2.3034766 50.3511713010238 205.8151683351368 408.759444948507

In [8]:
zero_count_1 = (part1['Q'] == 0).sum() 
perc_0values1 = (zero_count_1/10957)*100
print(zero_count_1, perc_0values1)

59 0.538468558912111

In [9]:
zero_count_2 = (part2['Q'] == 0).sum() 
perc_0values2 = (zero_count_2/4749)*100
print(zero_count_2, perc_0values2)

998 21.014950515898086