In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Belkhedi Temperature.xlsx')
rows_to_drop = [(0,9647), (25354, 25932)]
for start_index, end_index in rows_to_drop:
     df.drop(range(start_index, end_index + 1), inplace = True)
df

,Year,Month,Day,T3 max,T12 max,T13 max,T14 max,T3 min,T12 min,T13min,T14 min,T3 avg,T12 avg,T13 avg,T14 avg
9648,1977,6,1,38.2,38.6,39.1,39.8,25.9,26.1,26.1,26.7,32.05,32.35,32.60,33.25
9649,1977,6,2,38.4,38.5,39.1,39.9,26.1,26.2,26.2,27.0,32.25,32.35,32.65,33.45
9650,1977,6,3,38.6,39.1,39.7,40.2,26.0,25.9,26.1,27.0,32.30,32.50,32.90,33.60
9651,1977,6,4,38.8,39.7,40.4,41.4,26.1,26.3,26.7,27.9,32.45,33.00,33.55,34.65
9652,1977,6,5,39.7,40.3,41.0,42.1,26.2,26.4,26.7,28.2,32.95,33.35,33.85,35.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25349,2020,5,27,41.3,41.8,43.0,44.2,26.5,27.1,27.2,28.1,33.90,34.45,35.10,36.15
25350,2020,5,28,41.7,41.9,42.7,44.0,26.8,27.1,27.1,27.0,34.25,34.50,34.90,35.50
25351,2020,5,29,39.9,40.0,41.4,42.7,26.9,27.3,27.5,28.2,33.40,33.65,34.45,35.45
25352,2020,5,30,39.8,40.0,40.7,41.7,27.0,27.0,26.4,27.1,33.40,33.50,33.55,34.40
25353,2020,5,31,40.1,40.3,40.9,41.6,27.2,26.6,26.8,27.2,33.65,33.45,33.85,34.40

In [3]:
df.to_excel('TEMP_Q.xlsx')